/*body {*/
  /*padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  #myDIV {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat, repeat;
    background-image: url("images/ysrcp.jpg"), url("images/ysrcp.jpg");
    background-blend-mode: lighten;
  }*/
  @media only screen and (max-width: 600px) and (min-width: 300px)   {
    .main-div{
      height: 100%;
      width: 100%;
    }
    #clockdiv{
      height: 17%;
      padding: 5%;
      position: relative;
      font-family: sans-serif;
      color: #fff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 16px;
    }
    .image-div{
      /* margin-left: 19%; */
      height: 50%;
    }
    .img-div{
      position: relative;
      height: 100% !important;
    }
  }
/*}*/



a {
  color: #00B7FF;
}

body{
    text-align: center;
    background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 30px;
  margin: 40px 0px 20px;
}


#clockdiv > div{
    padding: 8px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 10px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 10px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.text {
  margin-top: 30px;
    left: auto;
    top: auto;
    height: auto;
}

.img-circle {
  margin: 0 auto;
  border-radius: 0 !important;
}

.navbar-default {
  background: transparent !important;
  border: none !important;
}

.navbar-nav {
  width: 100%;
  /* white-space: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;
}

.navbar-nav .btn-default {
  background-color: transparent !important;
  color: #FFFFFF !important;
  text-shadow: none !important;
}
.navbar-nav ul {
  margin: 0 auto;
  background: transparent;
}
.navbar-nav li {
  -webkit-flex-grow: 1;
    flex-grow: 1;
}

.navbar-nav li a {
  display: inline-block;
}

.form-group .form-control {
  width: calc(100% - 90px);
    display: inline-block;
    max-width: 250px;
}




.wa_btn {
    background-image: url('button.svg');
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block !important;
    position: relative;
    font-family: Arial, sans-serif;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: 400;
    text-transform: none;
    color: #fff;
    border-radius: 2px;
    background-color: #5cbe4a;
    background-repeat: no-repeat;
    line-height: 1.2;
    text-decoration: none;
    text-align: left;
}

.wa_btn_s {
  font-size: 20px;
  background-size: 26px;
  background-position: 5px 2px;
  padding: 3px 6px 3px 25px;
  min-width: 150px;
  text-align: center;
  border-radius: 4px;
}

.wa_btn_m {
    font-size: 16px;
    background-size: 20px;
    background-position: 4px 2px;
    padding: 4px 6px 4px 30px;
}

.wa_btn_l {
    font-size: 16px;
    background-size: 20px;
    background-position: 5px 5px;
    padding: 8px 6px 8px 30px;
}



/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


@keyframes shake {
  from {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
 }
 to {
   -webkit-transform-origin:center center;
   -webkit-transform: rotate(-5deg);
   transform: rotate(-5deg);
 }
}

.wa_btn_s {

   -webkit-animation: shake 0.2s ease-in-out 0.2s infinite alternate;

}

.anim-down {
  position: fixed;
    color: white;
    width: 30px;
    height: 100vh;
    left: 0;
}

.anim-up {
  position: fixed;
    color: white;
    width: 30px;
    height: 100vh;
    right: 0;
}


/* Profile page css */
body.new {
  background: radial-gradient(ellipse at bottom, #8F0314 0%, #090a0f 100%)
}

.container-fluid .row {
  position: relative;
}

.container-fluid .container-mobile {
  background: url(../images/bg-new.jpg) center top repeat-y;
  min-width: 360px;
  max-width: 425px;
  /* width: 100%; */
  background-size: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.side-bar {
  background: url(../images/side-pattern-1.png) left top repeat-y;
  height: 100vh;
  width: 20px;
  padding: 0;

}

.left-pattern {
  /* position: fixed !important; */
  left: 0;
}
.right-pattern {
  position: fixed !important;
  right: 0 !important;
}

.wishes-from {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.wishes-from .wish-user {
  font-weight: bold;
  display: block;
}
.wish-msg {
  background: url(../images/happy-new-yr-msg.png) 50% 50% no-repeat;
  height: 215px;
}

.carousel-inner .item .content-img {
  border-radius: 200px;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  border: 4px solid #cccccc;
}

.img1 {
  background: url(../images/venkateswara.jpg) 50% top no-repeat;
}

.img2 {
  background: url(../images/ayyappa_swamy.jpg) 50% top no-repeat;
}

.img3 {
  background: url(../images/shirdi_sai_baba.jpg) 50% top no-repeat;
}

.custom-img {
  margin-top: 40px;
}
.carousel-indicators {
  margin-bottom: -50px !important;
}

.row {
  background: url(../images/side-pattern-1.png) right top repeat-y;
}
.body-content {
  background: url(../images/side-pattern-1.png) left top repeat-y;
}

.share-link {
  margin-top: 50px;
  margin-bottom: 20px;
}

.seperator {
  background: url(../images/seperator.png) 50% top no-repeat;
  height: 40px;
}
@media (max-width: 425px) and (min-width: 320px)   {
  .carousel-inner .item .content-img {
  }
}